/* /Components/Gauge.razor.rz.scp.css */
.outerbox[b-o2df00ldgs] {
    width: 60px;
    height: 160px;
    border: 6px solid white;
}

.innerbox[b-o2df00ldgs] {
    width: 100%;
    height: 100%;
    margin: -6px;
    border: 6px solid white;
    border-radius: 12px;
}

.marker[b-o2df00ldgs] {
    position: relative;
    left: 30px;
    height: 2px;
    width: 30px;
    background: white;
}

.m1[b-o2df00ldgs] {
    top: 34px;
}

.m2[b-o2df00ldgs] {
    top: 74px;
}

.m3[b-o2df00ldgs] {
    top: 114px;
}

.current[b-o2df00ldgs] {
    left: 15px;
    width: 45px;
    background: var(--rc);
    top: calc(152px - calc(var(--fullness) * 158px));
}
/* /Components/Pushbutton.razor.rz.scp.css */
.button[b-aetp5ji2ny] {
    width: 160px;
    height: 160px;
    clip-path: circle(80px);
    background-color: white;
}

.button:hover[b-aetp5ji2ny], .button--pressed[b-aetp5ji2ny] {
    background-color: aqua;
}

.button__inner[b-aetp5ji2ny] {
    margin: 5px;
    width: 150px;
    height: 150px;
    clip-path: circle(75px);
    background-color: var(--rc);
}

.button__inner--held[b-aetp5ji2ny] {
    background-color: aqua;
}
/* /Components/Readout.razor.rz.scp.css */
.outerbox[b-diy2e1v450] {
    width: 160px;
    height: 60px;
    border: 6px solid white;
}

.innerbox[b-diy2e1v450] {
    width: 100%;
    height: 100%;
    margin: -6px;
    border: 6px solid white;
    border-radius: 12px;
    background-color: black;
    display: grid;
}

.label[b-diy2e1v450] {
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: 40px;
    color: var(--rc);
    user-select: none;
}
/* /Pages/Index.razor.rz.scp.css */
main[b-p6ghuesfe7] {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background: slategrey;
}

.panel[b-p6ghuesfe7] {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 40px;
    align-items: center;
    justify-items: center;
}
