/* /Components/Gauge.razor.rz.scp.css */
.outerbox[b-o2df00ldgs] {
    width: 60px;
    height: 160px;
    border: 5px solid teal;
    position: relative;
}

.innerbox[b-o2df00ldgs] {
    width: 60px;
    height: 160px;
    margin: -5px;
    border: 5px solid teal;
    border-radius: 12px;
}

.marker[b-o2df00ldgs] {
    position: absolute;
    top: calc(148px - calc(var(--pos) * 148px));
    left: 25px;
    height: 2px;
    width: 25px;
    background: white;
}

.current[b-o2df00ldgs] {
    top: calc(146px - calc(var(--pos) * 146px));
    left: 15px;
    width: 35px;
    height: 3px;
    background: var(--rc);
}
/* /Components/Pushbutton.razor.rz.scp.css */
.button[b-aetp5ji2ny] {
    width: 160px;
    height: 160px;
    clip-path: circle(80px);
    background-color: orange;
}

.button--pressed[b-aetp5ji2ny], .button:not(.button--automated):hover[b-aetp5ji2ny] {
    background-color: gold;
}

.button--automated[b-aetp5ji2ny], .button--automated .button__innermost[b-aetp5ji2ny] {
    background-color: teal;
}

.button__inner[b-aetp5ji2ny] {
    margin: 5px;
    width: 150px;
    height: 150px;
    clip-path: circle(75px);
    background-color: var(--rc);
}

.button__innermost[b-aetp5ji2ny] {
    position: absolute;
    margin: 25px;
    width: 100px;
    height: 100px;
    clip-path: circle(50px);
    background-color: gold;

    opacity: 0;
    transition: opacity ease-in-out 0.5s;
}

.button__innermost--held[b-aetp5ji2ny] {
    opacity: 1;
}
/* /Components/Readout.razor.rz.scp.css */
.outerbox[b-diy2e1v450] {
    width: 160px;
    height: 60px;
    border: 5px solid teal;
}

.innerbox[b-diy2e1v450] {
    width: 160px;
    height: 60px;
    margin: -5px;
    border: 5px solid teal;
    border-radius: 10px;
    background-color: black;
    display: grid;
}

.label[b-diy2e1v450] {
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: 36px;
    color: var(--rc);
    user-select: none;
}
/* /Pages/Index.razor.rz.scp.css */
main[b-p6ghuesfe7] {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background: slategrey;
}

.panel[b-p6ghuesfe7] {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 40px;
    align-items: center;
    justify-items: center;
}
