/* /Components/Pushbutton.razor.rz.scp.css */
.outercircle[b-8bfffyqyoi] {
    width: 100px;
    height: 100px;
    clip-path: circle(50px);
    background-color: white;
}

.outercircle:hover[b-8bfffyqyoi] {
    background-color: aqua;
}

.innercircle[b-8bfffyqyoi] {
    margin: 5px;
    width: 90px;
    height: 90px;
    clip-path: circle(45px);
    background-color: var(--rc);
}
/* /Components/Readout.razor.rz.scp.css */
.outerbox[b-ee79rihim4] {
    width: 80px;
    height: 30px;
    border: 3px solid white;
}

.innerbox[b-ee79rihim4] {
    width: 100%;
    height: 100%;
    margin: -3px;
    border: 3px solid white;
    border-radius: 6px;
    background-color: black;
    display: grid;
}

.label[b-ee79rihim4] {
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--rc);
}
/* /Pages/Index.razor.rz.scp.css */
main[b-vtiyvyz875] {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background: slategrey;
}

.panel[b-vtiyvyz875] {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
    justify-items: center;
}
