.outerbox {
    width: 60px;
    height: 160px;
    border: 6px solid white;
    position: relative;
}

.innerbox {
    width: 60px;
    height: 160px;
    margin: -6px;
    border: 6px solid white;
    border-radius: 12px;
}

.marker {
    position: absolute;
    left: 24px;
    height: 2px;
    width: 30px;
    background: white;
}

.m1 {
    top: 34px;
}

.m2 {
    top: 74px;
}

.m3 {
    top: 114px;
}

.current {
    left: 12px;
    width: 36px;
    background: var(--rc);
    top: calc(146px - calc(var(--fullness) * 146px));
}