@code {
    [Parameter] public string Color { get; set; } = "Magenta";
    [Parameter] public double Min { get; set; }
    [Parameter] public double Max { get; set; }
    [Parameter] public double Current { get; set; } 
}

<div class="outerbox" style="--rc: @Color; --fullness: @(Math.Clamp(Current / Max, 0, 1))">
    <div class="innerbox">
        <div class="marker m1" />
        <div class="marker m2" />
        <div class="marker m3" />
        <div class="marker current" />
    </div>
</div>