@code {
    [Parameter] public string Color { get; set; } = "Magenta";
    [Parameter] public double Min { get; set; }
    [Parameter] public double Max { get; set; }
    [Parameter] public double Current { get; set; } 
}

<div class="outerbox">
    <div class="innerbox" />
    @for (var i = 1; i < 8; i++)
    {
        <div class="marker" style="--pos: @(Math.Clamp(i / 8.0, 0, 1)); --rc: @Color;" />
    }    
    <div class="marker current" style="--pos: @(Math.Clamp(Current / Max, 0, 1)); --rc: @Color;" />
</div>