.button {
    width: 160px;
    height: 160px;
    clip-path: circle(80px);
    background-color: white;
}

.button:hover, .button--pressed {
    background-color: aqua;
}

.button__inner {
    margin: 5px;
    width: 150px;
    height: 150px;
    clip-path: circle(75px);
    background-color: var(--rc);
}

.button__inner--held {
    background-color: aqua;
}