.button {
    width: 100px;
    height: 100px;
    clip-path: circle(50px);
    background-color: white;
}

.button:hover, .button--pressed {
    background-color: aqua;
}

.button__inner {
    margin: 5px;
    width: 90px;
    height: 90px;
    clip-path: circle(45px);
    background-color: var(--rc);
}

.button__inner--held {
    background-color: aqua;
}