@code {
    [Parameter] public string Color { get; set; } = "Magenta";
    [Parameter] public double Value { get; set; }
}

<div class="outerbox" style="--rc: @Color">
    <div class="innerbox">
        <span class="label">@Value.ToString("000")</span>
    </div>
</div>