.outerbox {
    width: 160px;
    height: 60px;
    border: 6px solid white;
}

.innerbox {
    width: 160px;
    height: 60px;
    margin: -6px;
    border: 6px solid white;
    border-radius: 12px;
    background-color: black;
    display: grid;
}

.label {
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: 36px;
    color: var(--rc);
    user-select: none;
}