@page "/"
@inject GlobalEvents Global
@code {
    private readonly Machine state = new();

    private void OnUpdate(TimeSpan elapsed)
    {
        state.Tick(elapsed);
    }

    private void OnMouseUp()
    {
        Global.TriggerMouseUp();
    }
}

<PageTitle>automachine</PageTitle>

<RAF UpdateState="OnUpdate">
    <main @onmouseup="OnMouseUp">
        <div class="panel">
            <Readout Value="@state.PText" Color="rebeccapurple" />
            <Readout Value="@state.GText" Color="yellowgreen" />
            <Pushbutton Color="rebeccapurple" @bind-Held="state.PHeld" />
            <Pushbutton Color="yellowgreen" @bind-Held="state.GHeld" />
        </div>
    </main>
</RAF>