@page "/"
@code {
    private bool pHeld;
    private bool gHeld;
}

<PageTitle>automachine</PageTitle>

<main>
    <div class="panel">
        <Readout Value="@(pHeld.ToString())" Color="rebeccapurple" />
        <Readout Value="@(gHeld.ToString())" Color="yellowgreen" />
        <Pushbutton Color="rebeccapurple" @bind-Held="pHeld" />
        <Pushbutton Color="yellowgreen" @bind-Held="gHeld" />
    </div>
</main>
