@page "/"
@code {
    private readonly Machine state = new();
}

<PageTitle>automachine</PageTitle>

<main>
    <div class="panel">
        <Readout Value="@(state.P.ToString())" Color="rebeccapurple" />
        <Readout Value="@(state.G.ToString())" Color="yellowgreen" />
        <Pushbutton Color="rebeccapurple" @bind-Held="state.P" />
        <Pushbutton Color="yellowgreen" @bind-Held="state.G" />
    </div>
</main>
