@page "/"

<PageTitle>automachine</PageTitle>

<main>
    <div class="panel">
        <Readout Value="100" Color="rebeccapurple" />
        <Readout Value="80" Color="yellowgreen" />
        <Pushbutton Color="rebeccapurple" />
        <Pushbutton Color="yellowgreen" />
    </div>
</main>
